<div class="row">
	<div class="col-lg-4 col-sm-3"></div>
	<div class="col-lg-4 col-sm-6">
		<div class="alert alert-info" role="alert">
			<strong>Your bill has been saved!</strong>&nbsp;&nbsp;Now check out <i>below</i> what others in your area are paying below.  When you're done select next.
			<div style="margin-top: 10px; text-align: center;">
				<button class="btn btn-brand btn-brand-primary" ng-click="ctrlr.next()">Next</button>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-3"></div>
</div>

<gu-bill-explorer start-bill="ctrlr.myBill"></gu-bill-explorer>