<div class="row">
	<div class="col-lg-4 col-sm-3"></div>
	<div class="col-lg-4 col-sm-6">
		<div class="alert alert-success" role="alert">
			<div ng-show="!ctrlr.ask">
				<strong>Thank you!</strong>  We will send you alerts when someone in your area has entered a similar bill to yours but is paying less.
				
				<br /><br />
				
				Please let others know about this service, the more data the better for you:
				<div class="gi-2x color-primary" style="padding: 5px; text-align: center;">
					<a style="text-decoration: none;" ng-href="{{ctrlr.tweet()}}"><span class="icon-twitter cursor-pointer color-primary gi-1_5x" style="margin-right: 5px;"></span></a>
					<span class="icon-facebook cursor-pointer color-primary gi-1_5x" ng-click="ctrlr.fbShare()"></span>
				</div>
				
				<br />
				
				<div style="text-align: center;">
					<button class="btn btn-brand btn-brand-primary" ng-click="ctrlr.finish()">Finished</button>
				</div>
			</div>
			<div ng-show="ctrlr.ask">
				<form name="form" novalidate ng-submit="form.$valid && ctrlr.yesToAlerts(form)">
					<strong>Thank you!</strong>  Lastly may we send you alerts when someone in your area has entered a similar bill to yours but is paying less?
					
					<br /><br />
					
					<ul class="list-group" ng-hide="ctrlr.serverErrs.length === 0">
						<li class="list-group-item list-group-item-danger" ng-repeat="err in ctrlr.serverErrs">{{err}}</li>
					</ul>
					
					<div class="form-group" ng-class="ctrlr.getCssClasses(form, form.email)">
						<label>Is this your correct email address?</label>
						<input type="email" name="email" class="form-control" ng-model="ctrlr.email" ng-model-options="{updateOn: 'blur'}" required autofocus>
						<div ng-messages="form.email.$error" ng-if="form.email.$dirty || form.$submitted">
							<div ng-message="required" class="help-block">This field is required.</div>
							<div ng-message="email" class="help-block">You must enter a valid email.</div>
						</div>
					</div>
					
					<br />
					
					<div style="text-align: center;">
						<button class="btn btn-brand btn-brand-primary" type="submit">Yes, Send Me Alerts</button>
						<div style="margin-top: 10px;">
							<span class="gi-0_85x">
								<a ng-click="ctrlr.noToAlerts()" style="cursor: pointer;">No Thanks</a>
							</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-3"></div>
</div>