<div class="row">
	<div class="col-lg-4 col-sm-3"></div>
	<div class="col-lg-4 col-sm-6">
		<div class="alert alert-success" role="alert">
			<strong>Thank you so much!</strong>
			<br /><br />
			<p>We will send you a email if anyone within 25 miles enters a new bill.  But you may also check back in at any time to see what others are paying in your area.</p>
			<br /><br />
			Please let others know about this service, the more data the better for you:
			<div class="gi-2x color-primary" style="padding: 5px; text-align: center;">
				<a style="text-decoration: none;" ng-href="{{ctrlr.tweet()}}"><span class="icon-twitter cursor-pointer color-primary gi-1_5x" style="margin-right: 5px;"></span></a>
				<span class="icon-facebook cursor-pointer color-primary gi-1_5x" ng-click="ctrlr.fbShare()"></span
			</div>
			
			<br />
			
			<div style="text-align: center;">
				<button class="btn btn-brand btn-brand-primary" ng-click="ctrlr.finish()">Finished</button>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-3"></div>
</div>