<div ng-controller="BillExplorerSearchCtrlr as ctrlr">
	<div class="panel panel-default">
		<div class="panel-heading" style="font-size: 1.25em; font-weight: bold;">Search</div>
		<div class="panel-body">
			<div class="form-group">
				<label>Distance:</label>
				<div class="btn-group" uib-dropdown>
					<button type="button" class="btn btn-default" uib-dropdown-toggle>{{ctrlr.data.mileRadius}} miles <span class="caret"></span></button>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li><a ng-click="ctrlr.onMileRadiusSelect(mileRadius)" ng-repeat="mileRadius in ctrlr.mileRadiusOptions">{{mileRadius}} miles</a></li>
					</ul>
				</div>
			</div>
			
			<div class="form-group">
				<label>Lowest Bill:</label>
				<span class="app-rounded-primary-btn cursor-pointer" ng-click="ctrlr.onAmountSelect(ctrlr.data.lowestTotalAmount)">
					${{ctrlr.data.lowestTotalAmount}}
					<span class="glyphicon glyphicon-ok" style="padding-left: 5px;" ng-show="ctrlr.data.critrExactTotalAmount == ctrlr.data.lowestTotalAmount"></span>
				</span>
			</div>
			
			<div class="form-group">
				<label>Highest Bill:</label>
				<span class="app-rounded-primary-btn cursor-pointer" ng-click="ctrlr.onAmountSelect(ctrlr.data.highestTotalAmount)">
					${{ctrlr.data.highestTotalAmount}}
					<span class="glyphicon glyphicon-ok" style="padding-left: 5px;" ng-show="ctrlr.data.critrExactTotalAmount == ctrlr.data.highestTotalAmount"></span>
				</span>
			</div>
			
			<!--<div class="form-group">
				<label>Provider:</label>
				<div class="btn-group" uib-dropdown>
					<button type="button" class="btn btn-default" uib-dropdown-toggle><span ng-if="!ctrlr.data.critrProvider">{{ctrlr.providerOptionNone.name}}</span><span ng-if="ctrlr.data.critrProvider">{{ctrlr.data.critrProvider ? ctrlr.data.critrProvider.name : ''}}</span> <span class="caret"></span></button>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li><a ng-click="ctrlr.onProviderSelect(provider)" ng-repeat="provider in ctrlr.providerOptions">{{provider.name}}</a></li>
					</ul>
				</div>
			</div>-->
			
			<div class="form-group">
				<label>Provider:</label>
				<div class="input-group">
					<input type="text" class="form-control" ng-model="ctrlr.critrProviderName" placeholder="Enter provider name..." uib-typeahead="provider for provider in ctrlr.getProviders($viewValue)">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="ctrlr.onProviderNameApply()">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
				</div>
			</div>
			
			<div class="form-group">
				<label>Sort:</label>
				<div class="btn-group" uib-dropdown>
					<button type="button" class="btn btn-default" uib-dropdown-toggle><span>{{ctrlr.getCritrSortLabel()}}</span> <span class="caret"></span></button>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li><a ng-click="ctrlr.onSortSelect(sort)" ng-repeat="sort in ctrlr.sortOptions">{{sort.label}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>