<div ng-controller="BillExplorerSearchCtrlr as ctrlr">
	<div class="panel panel-default">
		<div class="panel-heading font-bold font-size-1_25x">Search</div>
		<div class="panel-body">
			<div class="form-group">
				<label>Zip Code:</label>
				<span>{{ctrlr.data.critrZipCode}}</span>
			</div>
			
			<div class="form-group">
				<label>Distance:</label>
				<div class="btn-group" uib-dropdown>
					<button type="button" class="btn btn-default" uib-dropdown-toggle>{{ctrlr.data.critrMileRadius}} miles <span class="caret"></span></button>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li><a ng-click="ctrlr.onMileRadiusSelect(mileRadius)" ng-repeat="mileRadius in ctrlr.mileRadiusOptions">{{mileRadius}} miles</a></li>
					</ul>
				</div>
			</div>
			
			<div class="form-group">
				<label>Services:</label>
				<div class="input-group">
					<div class="btn-group" uib-dropdown>
						<button type="button" class="btn btn-default" uib-dropdown-toggle>{{ctrlr.getCritrServicesSetOperatorLabel()}} <span class="caret"></span></button>
						<ul class="dropdown-menu" uib-dropdown-menu>
							<li><a ng-click="ctrlr.data.critrServicesSetOperator = setOperatorOption.option" ng-repeat="setOperatorOption in ctrlr.servicesSetOperatorOptions">{{setOperatorOption.label}}</a></li>
						</ul>
					</div>
				</div>
				<table class="app-bill-search-services">
					<tr>
						<td>Internet:</td>
						<td><toggle-switch ng-model="ctrlr.data.critrInternetService" on-label="Yes" off-label="No"></toggle-switch></td>
					</tr>
					<tr>
						<td>Cable:</td>
						<td><toggle-switch ng-model="ctrlr.data.critrCableService" on-label="Yes" off-label="No"></toggle-switch></td>
					</tr>
					<tr>
						<td>Phone:</td>
						<td><toggle-switch ng-model="ctrlr.data.critrPhoneService" on-label="Yes" off-label="No"></toggle-switch></td>
					</tr>
				</table>
			</div>
			
			<div class="form-group form-inline" ng-show="ctrlr.data.critrCableService">
				<label>Cable Boxes:</label>
				<div class="input-group">
					<div class="btn-group" uib-dropdown>
						<button type="button" class="btn btn-default" uib-dropdown-toggle>{{ctrlr.data.critrCableOptionsBoxCount}} <span class="caret"></span></button>
						<ul class="dropdown-menu" uib-dropdown-menu>
							<li><a ng-click="ctrlr.data.critrCableOptionsBoxCount = boxCountOption" ng-repeat="boxCountOption in ctrlr.boxCountOptions">{{boxCountOption}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="form-group form-inline" ng-show="ctrlr.data.critrCableService">
				<label>DVRs:</label>
				<div class="input-group">
					<div class="btn-group" uib-dropdown>
						<button type="button" class="btn btn-default" uib-dropdown-toggle>{{ctrlr.data.critrCableOptionsDvrCount}} <span class="caret"></span></button>
						<ul class="dropdown-menu" uib-dropdown-menu>
							<li><a ng-click="ctrlr.data.critrCableOptionsDvrCount = dvrCountOption" ng-repeat="dvrCountOption in ctrlr.dvrCountOptions">{{dvrCountOption}}</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="form-group form-inline" ng-show="ctrlr.data.critrCableService">
				<label>Special Channels:</label>
				<div class="input-group">
					<toggle-switch ng-model="ctrlr.data.critrCableOptionsSpecialChannels" on-label="Yes" off-label="No"></toggle-switch>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn btn-xs btn-brand-primary" ng-click="ctrlr.tglMoreExpanded()">More&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-if="!ctrlr.moreExpanded"></span><span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-if="ctrlr.moreExpanded"></span></button>
				<div ng-if="ctrlr.moreExpanded">
					<!--<div class="form-group">
						<label>Provider:</label>
						<div class="btn-group" uib-dropdown>
							<button type="button" class="btn btn-default" uib-dropdown-toggle><span ng-if="!ctrlr.data.critrProvider">{{ctrlr.providerOptionNone.name}}</span><span ng-if="ctrlr.data.critrProvider">{{ctrlr.data.critrProvider ? ctrlr.data.critrProvider.name : ''}}</span> <span class="caret"></span></button>
							<ul class="dropdown-menu" uib-dropdown-menu>
								<li><a ng-click="ctrlr.onProviderSelect(provider)" ng-repeat="provider in ctrlr.providerOptions">{{provider.name}}</a></li>
							</ul>
						</div>
					</div>-->
					
					<div class="form-group">
						<label>Provider:</label>
						<div class="input-group">
							<input type="text" class="form-control" ng-model="ctrlr.critrProviderName" placeholder="Enter provider name..." uib-typeahead="provider for provider in ctrlr.getProviders($viewValue)">
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="ctrlr.onProviderNameApply()">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
							</span>
						</div>
					</div>
					
					<div class="form-group">
						<label>Lowest Bill:</label>
						<span class="badge-primary font-bold cursor-pointer" ng-click="ctrlr.onAmountSelect(ctrlr.data.lowestTotalAmount)">
							${{ctrlr.data.lowestTotalAmount}}
							<span class="glyphicon glyphicon-ok" style="padding-left: 5px;" ng-show="ctrlr.data.critrExactTotalAmount == ctrlr.data.lowestTotalAmount"></span>
						</span>
					</div>
					
					<div class="form-group">
						<label>Highest Bill:</label>
						<span class="badge-primary font-bold cursor-pointer" ng-click="ctrlr.onAmountSelect(ctrlr.data.highestTotalAmount)">
							${{ctrlr.data.highestTotalAmount}}
							<span class="glyphicon glyphicon-ok" style="padding-left: 5px;" ng-show="ctrlr.data.critrExactTotalAmount == ctrlr.data.highestTotalAmount"></span>
						</span>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label>Sort:</label>
				<div class="btn-group" uib-dropdown>
					<button type="button" class="btn btn-default" uib-dropdown-toggle>{{ctrlr.getCritrSortLabel()}} <span class="caret"></span></button>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li><a ng-click="ctrlr.onSortSelect(sort)" ng-repeat="sort in ctrlr.sortOptions">{{sort.label}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>