<!--
	https://css-tricks.com/centering-css-complete-guide/ 
 -->
<div class="app-bill-list-item-tile">
	<div class="row" style="padding: 5px;">
		<div class="col-sm-4">
			<div class="app-bill-list-item-tile-price">
				<p>
					<span ng-class="ctrlr.getTotalAmountStyleClass()" class="app-bill-list-item-tile-price-amount">
						{{ctrlr.bill.totalAmount | currency}}
					</span>
					<div ng-if="ctrlr.isTotalAmountUnderAvg()">
						<div ng-class="ctrlr.getTotalAmountStyleClass()" style="padding-bottom: 5px;">{{ctrlr.amountRelativeToAvg() | currency}} <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> average</div>
					</div>
					<div ng-if="ctrlr.isTotalAmountOverAvg()">
						<div ng-class="ctrlr.getTotalAmountStyleClass()">{{ctrlr.amountRelativeToAvg() | currency}} <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> average</div>
					</div>
				</p>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="app-bill-list-item-tile-details">
				<div class="app-bill-list-item-tile-details-h1">
					<span ng-if="ctrlr.bill.provider">{{ctrlr.bill.provider.name}}</span>
					<span ng-if="!ctrlr.bill.provider">{{ctrlr.bill.providerOther}}</span>
				</div>
				<div class="app-bill-list-item-tile-details-h2">
					{{ctrlr.bill.geoZipCode.city}}, {{ctrlr.bill.geoZipCode.stateCode}} {{ctrlr.bill.geoZipCode.zipCode}}
				</div>
				<div class="app-bill-list-item-tile-details-h2">
					{{ctrlr.bill.validDateInMillis | date:'MM-dd-yyyy'}}
				</div>
				<div class="app-bill-list-item-tile-details-h3">
					Services:&nbsp;&nbsp;{{ctrlr.getServicesStr()}}
				</div>
				<div class="app-bill-list-item-tile-details-h3">
					Options:&nbsp;&nbsp;{{ctrlr.getAllOptionsStr()}}
				</div>
				<!--<div style="padding-top: 5px;" ng-if="ctrlr.bill.comments">
					<button class="btn btn-xs btn-brand-primary" ng-click="ctrlr.tglCommentsExpanded()">Comments&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-if="!ctrlr.commentsExpanded"></span><span class="glyphicon glyphicon-chevron-up" aria-hidden="true" ng-if="ctrlr.commentsExpanded"></span></button>
					<div class="app-bill-list-item-tile-details-h3" style="margin: 5px; font-family: courier new;" ng-if="ctrlr.commentsExpanded">
						"{{ctrlr.bill.comments}}"
					</div>
				</div>-->
				<div style="margin-top: 5px;">
					<span class="app-bill-comment-cnt" style="margin-bottom: 5px;">{{ctrlr.bill.dsqCommentCount}} Comment{{ctrlr.bill.dsqCommentCount == 0 || ctrlr.bill.dsqCommentCount > 1 ? 's' : ''}}</span>
					<br />
					<button class="btn btn-xs btn-brand-primary" ng-click="ctrlr.goToBillComments(ctrlr.bill)">
						<span ng-show="ctrlr.bill.dsqCommentCount == 0">Ask / Comment / Discuss</span>
						<span ng-show="ctrlr.bill.dsqCommentCount > 0">Join the Discussion</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>