<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>CheapThyCable</display-name>
	<welcome-file-list>
		<welcome-file>about-the-app.html</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login</form-login-page>
			<form-error-page>/login</form-error-page>
		</form-login-config>
	</login-config>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<filter>
		<filter-name>HibernateFilter</filter-name>
		<filter-class>com.gwn.xcbl.web.filter.HibernateTxRequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HibernateFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
		<url-pattern>/srv/*</url-pattern>
	</filter-mapping>
  
	<filter>
		<filter-name>CacheResponseHeaderFilter</filter-name>
		<filter-class>com.gwn.xcbl.web.filter.ResponseHeaderFilter
		</filter-class>
		<init-param>
		  <param-name>Pragma</param-name>
		  <param-value>no-store, no-cache</param-value>
		</init-param>
		<init-param>
		  <param-name>Cache-Control</param-name>
		  <param-value>no-store, no-cache, must-revalidate, max-age=0, post-check=0, pre-check=0</param-value>
		</init-param>
		<init-param>
		  <param-name>Expires</param-name>
		  <param-value>0</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CacheResponseHeaderFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheResponseHeaderFilter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheResponseHeaderFilter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheResponseHeaderFilter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheResponseHeaderFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheResponseHeaderFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>ERROR</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>AppUrlRewriteFilter</filter-name>
		<filter-class>com.gwn.xcbl.web.filter.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AppUrlRewriteFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>BaAlertUnsubscribe</servlet-name>
		<servlet-class>com.gwn.xcbl.web.servlet.BaAlertUnsubscribeSrvlt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BaAlertUnsubscribe</servlet-name>
		<url-pattern>/srv/BaAlertUnsubscribe</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DsqBillPostNotifyUnsubscribe</servlet-name>
		<servlet-class>com.gwn.xcbl.web.servlet.DsqBillPostNotifyUnsubscribeSrvlt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DsqBillPostNotifyUnsubscribe</servlet-name>
		<url-pattern>/srv/DsqBillPostNotifyUnsubscribe</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignupVerify</servlet-name>
		<servlet-class>com.gwn.xcbl.web.servlet.SignupVerifySrvlt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupVerify</servlet-name>
		<url-pattern>/srv/SignupVerify</url-pattern>
	</servlet-mapping>
</web-app>