<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CheapThyCable</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login</form-login-page>
      <form-error-page>/login</form-error-page>
    </form-login-config>
  </login-config>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>HibernateFilter</filter-name>
    <filter-class>com.gwn.xcbl.web.filter.HibernateTxRequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HibernateFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
    <url-pattern>/srv/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SignupVerify</servlet-name>
    <servlet-class>com.gwn.xcbl.web.servlet.SignupVerifySrvlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupVerify</servlet-name>
    <url-pattern>/srv/SignupVerify</url-pattern>
  </servlet-mapping>
</web-app>